body{
    color:blue;
}
#about-me{
    background-image: url(/img/aboutus.jpg);
    background-size: 50% 50%;
    background-repeat: no-repeat;
    font-size: 3em;
    background-position: top left;
}
.lead{
    font-size: 1.5em;
}
#nasaAPOD{
    background-repeat: no-repeat;
}